/*
Here comes the text of your license
Each line should be prefixed with 
*/
/* 
    Created on : Dec 15, 2016, 9:30:38 AM
    Author     : Andrew Burch
*/

.text-field {
     -fx-max-width: 50px;
     -fx-vgap: 15px;
 }
 .list-view {
     -fx-pref-width: 200px;
     -fx-hgap: 5px;
     -fx-vgap: 5px;
 }
 #studentInfo {
     -fx-spacing: 15px;
 }
 #userInput {
     -fx-spacing: 90px;
 }
 #statusText {
     -fx-pref-width: 200px;
 }
 #content {
     -fx-spacing: 15px;
     -fx-padding: 10px;
 }